<div class="tags">

  <% @tags = ActsAsTaggableOn::Tag.all(:order=>'name')
     if @tags.count > 0
  %>
    <h3>Tags</h3>
    <% @tags.each do |tag| %>
          <li><%= link_to tag.name, { :action => :index, :tag_name => tag.name } %></li>
     <%end%>
   <% end %>
  </div>